* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Fondo */
  --bg-main: #12131A;
  --bg-card: #1C1F2A;

  /* Texto */
  --text-main: #F2F2F7;
  --text-secondary: #B4B7C9;

  /* Cards */
  --purple: #C99DFF;
  --orange: #FFB21E;
  --coral: #FF8A65;

  /* Extras */
  --bar: #D19BFF;
  --border: #2A2D3A;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: white;
    color: var(--text-main);
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--bg-main);
    padding: 20px;
    padding-top: 5px;
    width: 100%;
    max-width: 650px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: var(--text-secondary);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.logo img {
    width: 70px;
    height: auto;
}

header button{
    background-color: var(--bg-card);
    border: none;
    cursor: pointer;
    font-size: 30px;
}

/* HERO */
.hero {
    text-align: center;
}

.hero h2{
    margin-bottom: 15px;
    font-size: 55px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hero textarea{
    width: 100%;
    height: 120px;
    padding: 15px;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--text-secondary);
    resize: none;
    outline: none;
    box-shadow: 0 0 2px var(--border);
}

/* CONTROLS */
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-controls{
    display: flex;
    gap: 5px;
    font-size: 16px;
    color: var(--text-secondary);
}

.controls p{
    color: var(--text-secondary);
    font-size: 14px;
}

.controls input{
    margin-right: 5px;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 4px;
    cursor: pointer;
}

.controls input:checked:after{
    content: "✔";
    color: white;
    font-size: 12px;
    display: block;
    text-align: center;
}

/* CARDS */
.cards{
    display: flex;
    margin-top: 25px;
    gap: 15px;
}

.characters{
    background-color: var(--purple);
    flex: 1;
    padding: 20px;
    border-radius: 12px;
}

.word{
    background-color: var(--orange);
    flex: 1;
    padding: 20px;
    border-radius: 12px;
}

.sentence{
    background-color: var(--coral);
    flex: 1;
    padding: 20px;
    border-radius: 12px;
}

.number{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.label{
    font-size: 15px;
    color: black;
}

/* LETTER DENSITY */
.letter-density {
    width: 100%;
    margin-top: 20px;
}

.letter-density h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.letter-density .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.letter-density .letter{
    font-size: 16px;
    color: var(--text-secondary);
    width: 15px;
}

.letter-density .bar{
    flex: 1;
    background-color: var(--bg-card);
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 15px;
}

.letter-density .fill-e{
    height: 100%;
    background-color: var(--bar);
    border-radius: 5px;
    width: 16.06%;
}

.letter-density .fill-i{
    height: 100%;
    background-color: var(--bar);
    border-radius: 5px;
    width: 11.65%;
}

.letter-density .fill-t{
    height: 100%;
    background-color: var(--bar);
    border-radius: 5px;
    width: 11.24%;
}

.letter-density .fill-o{
    height: 100%;
    background-color: var(--bar);
    border-radius: 5px;
    width: 8.84%;
}

.letter-density .fill-n{
    height: 100%;
    background-color: var(--bar);
    border-radius: 5px;
    width: 8.43%;
}

.letter-density .info{
    font-size: 16px;
    color: var(--text-secondary);
    text-align: right;
    width: 90px;
}

.seemore{
    background: none;
    border: none;
    color: var(--text-secondary);
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: color 0.2s ease;
}

.seemore:hover{
    color: var(--text-main);
}