* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* Fondo */
  --bg-main: #12131A;
  --bg-card: #1C1F2A;

  /* Texto */
  --text-main: #F2F2F7;
  --text-secondary: #B4B7C9;

  /* Cards */
  --purple: #C99DFF;
  --orange: #FFB21E;
  --coral: #FF8A65;

  /* Extras */
  --bar: #D19BFF;
  --border: #2A2D3A;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: white;
    color: var(--text-main);
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--bg-main);
    padding: 20px;
    padding-top: 5px;
    width: 100%;
    max-width: 650px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: var(--text-secondary);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.logo img {
    width: 70px;
    height: auto;
}

header button{
    background-color: var(--bg-card);
    border: none;
    cursor: pointer;
    font-size: 30px;
}

/* HERO */
.hero {
    text-align: center;
}

.hero h2{
    margin-bottom: 15px;
    font-size: 55px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hero textarea{
    width: 100%;
    height: 120px;
    padding: 15px;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--text-secondary);
    resize: none;
    outline: none;
}
